*{padding: 0; margin: 0; box-sizing: border-box;}
*::after, *::before{box-sizing: boder-box;}
body{
    line-height: 1.5;
    font-size: 16px;
}
button, input{
    font-size: inherit;
}
a{
    text-decoration: none;
}

ol, ul{
    list-style: none;
}