

.tags{
    padding: 16px;
    font-size: 14px;
    height: 25vh;
    overflow-y: scroll;
}

.current{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

li{
    background: #d9d9d9;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    padding: 0 16px;
    margin-right: 12px;
}

.new{
    padding-top:16px;
}

button{
    background: transparent;
    border:none;
    border-bottom: 1px solid;
    color:#999;
}