<app-frame>
        <button (click)="onClick('-')"  [class.selected]="selectedType==='-'">支出</button>
        <button (click)="onClick('+')" [class.selected]="selectedType==='+'">收入</button>
        <table>
                <thead>
                        <th>
                                标签
                        </th>
                        <th>
                                备注
                        </th>
                        <th>
                                金额
                        </th>
                        <th>
                                日期
                        </th>
                </thead>
                <tbody>
                <tr *ngFor="let record of records; let i=index">
                        <td>
                        <span>{{record.tags}}</span>
                        </td>
                        <td>
                        <span>{{record.note}}</span>
                        </td>
                        <td>
                        <span>{{record.amount}}(￥)</span>
                        </td>
                        <td>
                        <span>{{record.date |  date:"yy/MM/dd"}}</span>
                        </td>
                </tr>
                </tbody>
        </table>
</app-frame>
